# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database Configuration (for better-auth)
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_Wok19JETtAhe@ep-jolly-fog-aiblc4as-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
